:root {
  --bg-color: #f6f7f8;
  --secondary-bg: #F9FAFB;
  --text-color: #111;
  --header-bg: #fff;
  --header-border: #ccc;
  --border-color: #ccc;
  --select-bg: rgba(255, 255, 255, 0.1);
  --select-bg-hover: rgba(19, 127, 236, 0.1);
  --select-border: rgba(0, 0, 0, 0.1);
  --select-border-hover: rgba(19, 127, 236, 0.3);
  --option-bg: rgba(255, 255, 255, 0.05);
  --option-bg-hover: rgba(19, 127, 236, 0.15);
  --option-shadow: rgba(0, 0, 0, 0.1);
  --option-shadow-hover: rgba(19, 127, 236, 0.2);
  --pagination-bg: #fff;
  --pagination-bg-hover: #f3f4f6;
  --pagination-border: #d1d5db;
  --pagination-text: #374151;
}

[data-theme="dark"] {
  --bg-color: #101922;
  --secondary-bg: #1F2937;
  --text-color: #f5f5f5;
  --header-bg: #101922;
  --header-border: #4a5462;
  --border-color: #4a5462;
  --select-bg: rgba(255, 255, 255, 0.05);
  --select-bg-hover: rgba(19, 127, 236, 0.2);
  --select-border: rgba(255, 255, 255, 0.1);
  --select-border-hover: rgba(19, 127, 236, 0.4);
  --option-bg: rgba(0, 0, 0, 0.2);
  --option-bg-hover: rgba(19, 127, 236, 0.25);
  --option-shadow: rgba(0, 0, 0, 0.3);
  --option-shadow-hover: rgba(19, 127, 236, 0.3);
  --pagination-bg: #1F2937;
  --pagination-bg-hover: #374151;
  --pagination-border: #4a5462;
  --pagination-text: #f5f5f5;
}
