.tableContainer {
  overflow-x: auto;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--bg-color);

  .noProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    text-align: center;
    
    p {
      color: var(--text-color);
      font-size: 1.1rem;
      font-weight: 500;
      margin: 0;
    }
  }

  .tableInfo {
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-bottom: 1px solid var(--border-color);
    
    p {
      margin: 0;
      color: var(--text-color);
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-bg);
    font-weight: 600;
    font-size: 0.875rem;
  }

  td {
    background-color: var(--header-bg);
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
  }
}
